/* Estilos exclusivos para products.html */

/* Fondo exclusivo para products.html */
#products-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #feac4f, #ffed4b);
}

/* Contenido principal exclusivo de products.html */
.products-main {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  align-items: center;
}

/* Cards SOLO para products.html */
#products-page .card {
  width: 350px;
  /* más angosto para que entren más */
  height: 550px;
  /* misma altura */
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  min-height: max-content;
  /* para que no se estire demasiado */
  align-items: center;
}

/* Título de la card */
#products-page .card-body {
  flex: 1;
  /* ocupa todo el espacio disponible */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* mantiene botón abajo */
}

/* Imagen dentro de la card */
#products-page .card img {
  max-height: 180px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

/* Footer exclusivo de products.html */
#products-page footer {
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 20px;
  text-align: center;
  margin-top: auto;
  /* empuja al fondo */
}

@media (max-width: 748px) {

  table,
  tr,
  td {
    display: block;
  }

  .card-body {
    height: auto;
  }

  #products-page .card {
    width: 90%;
    /* ocupa casi todo el ancho */
    height: auto;
    /* altura automática */
  }
}

@media (min-width: 748px) and (max-width: 1200px) {

  table,
  tr {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .card-body {
    height: auto;
    width: 100%;
  }

  #products-page .card {
    width: 100%;
    /* ocupa casi todo el ancho */
    height: 100%;
    /* altura automática */
  }

  td {
    margin: 20px;
  }
}
